<h1>To-do list</h1>
<main>
  <div class="container">
    <input class="input-style" type="text" id="text-input" placeholder="Description" [(ngModel)]="description" required="true">
    <input class="input-style" type="number" id="number-input" placeholder="Prio" [(ngModel)]="priority" min="0" max="1" step="0.1" required="true">
    <button class="input-style" (click)="addRecord()">Add</button>
  </div>
  <div class="message-box" [style.display]="isHidden ? 'none' : 'block'">
    <p>{{errorMessage}}</p>
  </div>
  <app-list [recordHandling]="recordHandling"></app-list>
</main>
<router-outlet></router-outlet>